@charset "UTF-8";
/*
Team Members:

Florencia Di Ciocco
Lucila Cardús
Lindsey Myers
*/
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cinzel+Decorative:wght@700&display=swap");
body {
  width: 1350px;
  margin: 0 auto; }

.page-wrapper {
  display: grid;
  grid-template-columns: 450px 900px;
  grid-template-rows: 150px 600px 1300px 500px 150px; }

.intro {
  grid-column: 1/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(9, 150px);
  grid-template-rows: 150px 300px 300px; }
  .intro header {
    grid-column: 1/4;
    grid-row: 1/2; }
  .intro .summary {
    grid-column: 1/10;
    grid-row: 2/3; }
  .intro .preamble {
    grid-column: 1/10;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: 60px repeat(3, 80px); }
    .intro .preamble h3 {
      grid-column: 6/10;
      grid-row: 1/2; }
    .intro .preamble p:nth-of-type(1) {
      grid-column: 6/10;
      grid-row: 2/3; }
    .intro .preamble p:nth-of-type(2) {
      grid-column: 6/10;
      grid-row: 3/4; }
    .intro .preamble p:nth-of-type(3) {
      grid-column: 6/10;
      grid-row: 4/5; }

.supporting {
  grid-column: 1/3;
  grid-row: 3/6;
  display: grid;
  grid-template-columns: repeat(9, 150px);
  grid-template-rows: repeat(3, 300px) 400px 500px 150px; }
  .supporting .explanation {
    grid-column: 1/10;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: 60px 120px 120px; }
    .supporting .explanation h3 {
      grid-column: 1/5;
      grid-row: 1/2; }
    .supporting .explanation p:nth-of-type(1) {
      grid-column: 1/5;
      grid-row: 2/3; }
    .supporting .explanation p:nth-of-type(2) {
      grid-column: 1/5;
      grid-row: 3/4; }
  .supporting .participation {
    grid-column: 1/10;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: 60px repeat(3, 80px); }
    .supporting .participation h3 {
      grid-column: 6/10;
      grid-row: 1/2; }
    .supporting .participation p:nth-of-type(1) {
      grid-column: 6/10;
      grid-row: 2/3; }
    .supporting .participation p:nth-of-type(2) {
      grid-column: 6/10;
      grid-row: 3/4; }
    .supporting .participation p:nth-of-type(3) {
      grid-column: 6/10;
      grid-row: 4/5; }
  .supporting .benefits {
    grid-column: 1/10;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: 60px 240px; }
    .supporting .benefits h3 {
      grid-column: 1/5;
      grid-row: 1/2; }
    .supporting .benefits p:nth-of-type(1) {
      grid-column: 1/5;
      grid-row: 2/3; }
  .supporting .requirements {
    grid-column: 1/10;
    grid-row: 4/7;
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: 60px 80px 120px 70px 70px 500px 150px; }
    .supporting .requirements h3 {
      grid-column: 6/10;
      grid-row: 1/2; }
    .supporting .requirements p:nth-of-type(1) {
      grid-column: 6/10;
      grid-row: 2/3; }
    .supporting .requirements p:nth-of-type(2) {
      grid-column: 6/10;
      grid-row: 3/4; }
    .supporting .requirements p:nth-of-type(3) {
      grid-column: 6/10;
      grid-row: 4/5; }
    .supporting .requirements p:nth-of-type(4) {
      grid-column: 6/10;
      grid-row: 5/6; }
    .supporting .requirements p:nth-of-type(5) {
      grid-column: 7/10;
      grid-row: 7/8; }
  .supporting footer {
    grid-column: 1/10;
    grid-row: 6/7; }

.sidebar {
  grid-column: 1/3;
  grid-row: 1/5; }
  .sidebar .wrapper {
    display: grid;
    grid-template-columns: 450px 900px;
    grid-template-rows: 150px 1900px 200px 300px; }
    .sidebar .wrapper .design-selection {
      grid-column: 2/3;
      grid-row: 1/2; }
    .sidebar .wrapper .design-archives {
      grid-column: 1/3;
      grid-row: 3/4; }
    .sidebar .wrapper .zen-resources {
      grid-column: 1/3;
      grid-row: 4/5; }

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "Cinzel Decorative", serif;
  color: #15362b; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 1.8rem;
      margin: 1em 0 1.4em; } }

section > h2::before {
  /* number before each section title */
  color: #8edfc8; }

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #399274; }
  p a {
    color: #2e3532;
    text-decoration: underline; }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

.other-links {
  margin-top: 20px;
  margin-bottom: 15px; }

.other-links a {
  background-color: #008561;
  padding: 12px 30px;
  min-height: 43px;
  border-radius: 25px;
  color: white;
  font-size: 1.6rem; }
  .other-links a:hover {
    color: #ffffff;
    text-decoration: underline;
    font-size: larger;
    font-weight: bolder; }

#navigation ul {
  margin: 7px 0; }
  #navigation ul li {
    padding: 10px;
    display: inline; }

.cd-primary-nav ul li a {
  color: #2e3532;
  text-decoration: none; }
  .cd-primary-nav ul li a:hover {
    color: #24a57e;
    text-decoration: underline;
    font-size: larger;
    font-weight: bolder; }

.cd-secondary-nav {
  background-color: #15362b;
  padding: 10px;
  margin: 4px; }

.cd-secondary-nav ul li a {
  color: #24a57e;
  text-decoration: none; }
  .cd-secondary-nav ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
    font-size: larger;
    font-weight: bolder; }

/* -------------------------------- 

xBasic style

-------------------------------- */
body p {
  font-size: 1em;
  margin: 0;
  line-height: 1; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1em; }

/* -------------------------------- 

xBackground 

-------------------------------- */
html {
  background: url(/resources/trees3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  /* this is the page background */
  background-color: #caf0e5; }

/* -------------------------------- 

xPatterns

-------------------------------- */
