/* -------------------------------- 

xBasic style

-------------------------------- */

html {
	background-image: url(/resources/trees3.png);
}

body {
  background-color: white;
  p {
    font-size: 1em;
    margin: 0;
    line-height: 1;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $color-2;
  &:hover {
    color: $color-3;
  }
}

abbr {
  text-decoration: none;
}

header {
  @include MQ(L) {
    background-color: $color-2;
    border-bottom: 5px solid $color-3;
    border-left: 5px solid $color-4;
    border-top: 5px solid $color-4;
    h1, h2 {
      background-color: $color-1;
      border-left: 5px outset lightgrey;
      border-right: 5px outset lightgrey;
    }
    h1 {
      border-top: 5px outset lightgrey;
    }
    h2 {
      border-bottom:  5px outset lightgrey;
    }
  }
}

.summary {
  p {
    @include MQ(L) {
      background-color: white;
      border-left: 5px solid $color-2;
      border-right: 5px solid $color-2;
      &:nth-of-type(1) {
        border-top: 5px solid $color-2;
        box-shadow: 0px -5px 10px 5px $color-2;
      }
      &:nth-of-type(2) {
        border-top: 2px solid lightgrey;
        border-bottom: 5px solid $color-2;
        box-shadow: 0px 5px 10px 5px $color-2;
      }
    }
  }
  &:before {
    @include MQ(L) {
      border: 10px solid $color-3;
      border-radius: 20px;
      box-sizing: border-box;
    }
  }
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  background-color: white;
}

h1 {
	font-size: 2em;
	margin-top: 1em;
	margin-left: 1em;
}

h2 {
	font-size: 1em;
	padding-left: 4em;
}

li {
	list-style-type: none;
}

.preamble::before,
.explanation::after,
.participation::before,
.benefits::after,
.requirements::before {
	content: " ";
	width: 430px;
	height: 250px;
	margin: 0 auto;
}

h3.resources,
h3.archives,
.design-archives ul li,
.zen-resources ul li {
	background-color: white;
	border: 2px solid grey;
}

.explanation,
.benefits {
	text-align: right;
}

footer {
	content: " ";
	display: block;
	padding-top: 10px;
	border-top: 5px solid $color-3;
  padding: 4em;
  background-color: $color-2;
  a {
    font-size: 1.5em;
    color: $color-4;
    margin: 15px;
  }
}

p[role="contentinfo"] {
	padding-top: 10px;
}

h3.select {
	text-align: right;
	color: $color-4;
}

.requirements p:nth-of-type(5) {
  background-color: $color-2;
  color: $color-4;
  z-index: 2;
  a {
    color: $color-4;
    &:hover {
      color: $color-3;
    }
  }
}

.design-selection {
  h3 {
    @include MQ(L) {
      background-color: $color-2;
      border-right: 5px solid $color-4;
      border-top: 5px solid $color-4;
    }
  }
  nav ul {
    @include MQ(L) {
      background-color: $color-2;
      border-bottom: 5px solid $color-3;
      border-right: 5px solid $color-4;
    }
  }
  li {
    @include MQ(L) {
      background-color: $color-4;
      box-sizing: border-box;
      border: 3px solid $color-3;
      a:nth-of-type(1) {
        font-size: 1.1em;
      }
    }
  }
}

.design-archives {
  @include MQ(L) {
    border-top: 5px outset $color-3;
    border-left: 5px outset $color-3;
    border-right:  5px outset $color-3;
    h3 {
      box-shadow: -5px -5px 10px 5px $color-2, 5px -5px 10px 5px $color-2;
    }
    li.next {
      box-shadow: -5px 5px 10px 5px $color-2;
    }
    li.viewall {
      box-shadow: 5px 5px 10px 5px $color-2;
    }
  }
  
  
}

.zen-resources {
  @include MQ(L) {
    border-bottom:  5px outset $color-3;
    border-left: 5px outset $color-3;
    border-right:  5px outset $color-3;
    h3 {
      box-shadow: -5px -5px 10px 5px $color-2, 5px -5px 10px 5px $color-2;
    }
    li.view-css {
      box-shadow: -5px 0 10px 0px $color-2;
    }
    li.css-resources {
      box-shadow: 5px 0 10px 0px $color-2;
    }
    li.zen-faq {
      box-shadow: -5px 5px 10px 5px $color-2;
    }
    li.zen-submit {
      box-shadow: 0 5px 10px 0px $color-2;
    }
    li.zen-translations {
      box-shadow: 5px 5px 10px 5px $color-2;
    }

  }
}