// color palette - these colors will be the color swatches of the Colors section

$color-1: #2e3532; // Greyish Green
$color-2: #15362b; // Dark Green
$color-3: #24a57e; // Sea Green
$color-4: #caf0e5; // Pale Green
$color-5: #cfbca0; // Tan
$color-white: #ffffff; ///white

// additional colors

$success: $color-3; // green
$alert: #e4655f; // red
