@media screen and (min-width: 1400px) {
  
  // Lindsey Myers's Code

  $background: url(/resources/trees3.png);
  @mixin window($top, $right, $border-type) {
    background-image: $background;
    background-size: 100% auto;
    background-position: top $top left $right;
    background-attachment: fixed;
    @if $border-type == "left" {
      border-radius: 0px 200px;
    }
    @if $border-type == "right" {
      border-radius: 200px 0px;
    }
  }

  // Large Layout
  body {
    width: 1350px;
    margin: 0 auto;
    margin-top: 2em;
  }

  // grids

  .page-wrapper {
    display: grid;
    grid-template-columns: 450px 900px;
    grid-template-rows: 270px 670px 1350px 500px 100px;
  }

  .intro {
    grid-column: 1/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: 275px 350px 320px;
    header {
      grid-column: 1/4;
      grid-row: 1/2;
      padding-top: 3em;
      padding-left: 2em;
      h1, h2 {
        margin: 0;
        padding: 20px 5px 10px 8px;
      }
      h2 {
        padding: 10px 0 20px 4em;
      }
    }
    .summary {
      grid-column: 1/10;
      grid-row: 2/3;
      margin: 0 auto;
      display: grid;
      grid-template: 140px 70px 50px 20px/350px 500px 350px;
      align-items: center;
      p {
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }
      &:before {
        grid-column: 1/4;
        grid-row: 1/5;
        content: " ";
        width: 1200px;
        height: 280px;
        margin: 0 auto;
        @include window(12%, 15%, none);
        margin-top: 2em;
      }
      p:nth-of-type(1) {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 500px;
        height: 60px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      p:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 500px;
        height: 40px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    .preamble {
      grid-column: 1/10;
      grid-row: 3/4;
      display: grid;
      grid-template-columns: repeat(9, 150px);
      grid-template-rows: 60px repeat(3, 80px);
      padding-top: 20px;
      &:before {
        grid-column: 3/6;
        grid-row: 1/5;
        @include window(25%, 25%, left);
        margin-left: -3em;
        border: 10px solid $color-3;
      }
      h3 {
        grid-column: 6/10;
        grid-row: 1/2;
      }
      p {
        margin-right: 25px;
        &:nth-of-type(1) {
        grid-column: 6/10;
        grid-row: 2/3;
        }
        &:nth-of-type(2) {
        grid-column: 6/10;
        grid-row: 3/4;
        }
        &:nth-of-type(3) {
        grid-column: 6/10;
        grid-row: 4/5;
        }
      }
    }
  }

  .supporting {
    grid-column: 1/3;
    grid-row: 3/6;
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: 300px 350px 300px 400px 500px 100px;
    align-items: center;
    .explanation {
      grid-column: 1/10;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: repeat(9, 150px);
      grid-template-rows: 60px 120px 120px;
      align-items: center;
      &:after {
        grid-column: 5/8;
        grid-row: 1/4;
        @include window(37%, 65%, right);
        margin-left: 3em;
        border: 10px solid $color-3;
      }
      h3 {
        grid-column: 1/5;
        grid-row: 1/2;
      }
      p {
        margin-left: 25px;
        &:nth-of-type(1) {
        grid-column: 1/5;
        grid-row: 2/3;
        }
        &:nth-of-type(2) {
        grid-column: 1/5;
        grid-row: 3/4;
        }
      }
    }

    .participation {
      grid-column: 1/10;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: repeat(9, 150px);
      grid-template-rows: 60px repeat(3, 80px);
      align-items: center;
      &::before {
        grid-column: 3/6;
        grid-row: 1/5;
        @include window(50%, 40%, left);
        margin-left: -3em;
        border: 10px solid $color-3;
      }
      h3 {
        grid-column: 6/10;
        grid-row: 1/2;
      }
      p {
        margin-right: 25px;
        &:nth-of-type(1) {
        grid-column: 6/10;
        grid-row: 2/3;
        }
        &:nth-of-type(2) {
        grid-column: 6/10;
        grid-row: 3/4;
        }
        &:nth-of-type(3) {
        grid-column: 6/10;
        grid-row: 4/5;
        }
      }
    }

    .benefits {
      grid-column: 1/10;
      grid-row: 3/4;
      display: grid;
      grid-template-columns: repeat(9, 150px);
      grid-template-rows: 60px 240px;
      align-items: center;
      padding-bottom: 2em;
      &:after {
        grid-column: 5/8;
        grid-row: 1/3;
        @include window(67%, 65%, right);
        margin-left: 3em;
        border: 10px solid $color-3;
      }
      h3 {
        grid-column: 1/5;
        grid-row: 1/2;
        padding-top: 10px;
      }
      p {
        margin-left: 25px;
        &:nth-of-type(1) {
        grid-column: 1/5;
        grid-row: 2/3;
        }
      }
    }
    .requirements {
      grid-column: 1/10;
      grid-row: 4/7;
      display: grid;
      grid-template-columns: repeat(9, 150px);
      grid-template-rows: 60px 80px 120px 70px 70px 500px 150px;
      align-items: center;
      &:before {
        grid-column: 3/6;
        grid-row: 1/6;
        @include window(80%, 40%, left);
        margin-left: -3em;
        border: 10px solid $color-3;
      }
      h3 {
        grid-column: 6/10;
        grid-row: 1/2;
      }
      p {
        margin-right: 25px;
        &:nth-of-type(1) {
        grid-column: 6/10;
        grid-row: 2/3;
        }
        &:nth-of-type(2) {
        grid-column: 6/10;
        grid-row: 3/4;
        }
        &:nth-of-type(3) {
        grid-column: 6/10;
        grid-row: 4/5;
        }
        &:nth-of-type(4) {
        grid-column: 6/10;
        grid-row: 5/6;
        }
        &:nth-of-type(5) {
        grid-column: 7/10;
        grid-row: 7/8;
        }
      }
    }
    footer {
      grid-column: 1/10;
      grid-row: 6/7;
    }
  }

  .sidebar {
    grid-column: 1/3;
    grid-row: 1/5;
    .wrapper {
      display: grid;
      grid-template-columns: 450px 900px;
      grid-template-rows: 270px 2000px 230px 270px;

      //First sidebar child at TOP of page
      .design-selection {
        grid-column: 2/3;
        grid-row: 1/3;
        display: grid;
        grid-template-columns: 900px;
        grid-template-rows: 50px 220px;
        h3 {
          grid-column: 1/2;
          grid-row: 1/2;
          padding: .5em 2em 0 0;
          margin: 0;
        }
        nav {
          grid-column: 1/2;
          grid-row: 2/4;
          ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 100px 100px;
            grid-gap: 5px;
            margin: 0 auto;
            padding-bottom: 15px;
            padding-right: 5px;
            li {
              text-align: center;
              border-radius: 100px 0 100px 0;
              padding: 30px;
              &:nth-of-type(1) {
              grid-column: 1/2;
              grid-row: 1/2;
              }
              &:nth-of-type(2) {
              grid-column: 2/3;
              grid-row: 1/2;
              }
              &:nth-of-type(3) {
              grid-column: 3/4;
              grid-row: 1/2;
              }
              &:nth-of-type(4) {
              grid-column: 4/5;
              grid-row: 1/2;
              }
              &:nth-of-type(5) {
              grid-column: 1/2;
              grid-row: 2/3;
              }
              &:nth-of-type(6) {
              grid-column: 2/3;
              grid-row: 2/3;
              }
              &:nth-of-type(7) {
              grid-column: 3/4;
              grid-row: 2/3;
              }
              &:nth-of-type(8) {
              grid-column: 4/5;
              grid-row: 2/3;
              }
            }
          }
        }
      }

      //Second sidebar child, table at bottom of page
      .design-archives {
        grid-column: 1/3;
        grid-row: 3/4;
        margin: 0 auto;
        margin-top: 55px;
        padding: 50px 50px 25px 50px;
        display: grid;
        grid-template: 60px 40px/600px;
        @include window(90%, 40%, none);
        h3 {
          grid-column: 1/2;
          grid-row: 1/2;
          margin: 0;
          padding: 15px 259.7px 0px 259.7px;
        }
        nav {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        ul {
          display: grid;
          grid-template: 40px / repeat(6, 100px);
          padding: 0;
          margin: 0;
          li {
            margin: 0;
            padding-top: 5px;
          }
          li:nth-of-type(1) {
            grid-column: 1/4;
            grid-row: 1/2;
            padding-left: 100px;
            padding-right: 90px;
          }
          li:nth-of-type(2) {
            grid-column: 4/7;
            grid-row: 1/2;
            padding-left: 91.588px;
            padding-right: 91.588px;
          }
        }
      }

      //Third sidebar child, table at bottom of page
      .zen-resources {
        grid-column: 1/3;
        grid-row: 4/5;
        margin: 0 auto;
        margin-bottom: 55px;
        padding: 25px 50px 50px 50px;
        display: grid;
        grid-template: 60px 80px/600px;
        @include window(96%, 40%, none);
        h3 {
          grid-column: 1/2;
          grid-row: 1/2;
          margin: 0;
          padding: 15px 254.5px 0px 254.5px;
        }
        ul {
          grid-column: 1/2;
          grid-row: 2/3;
          display: grid;
          grid-template: 40px 40px / repeat(6, 100px);
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding-top: 5px;
          }
          li:nth-of-type(1) {
            grid-column: 1/4;
            grid-row: 1/2;
            padding-left: 68.825px;
            padding-right: 68.825px;
          }
          li:nth-of-type(2) {
            grid-column: 4/7;
            grid-row: 1/2;
            padding-left: 98.875px;
            padding-right: 98.875px;
          }
          li:nth-of-type(3) {
            grid-column: 1/3;
            grid-row: 2/3;
            padding-left: 82.588px;
            padding-right: 82.588px;
          }
          li:nth-of-type(4) {
            grid-column: 3/5;
            grid-row: 2/3;
            padding-left: 44.663px;
            padding-right: 44.663px;
          }
          li:nth-of-type(5) {
            grid-column: 5/7;
            grid-row: 2/3;
            padding-left: 58.725px;
            padding-right: 58.725px;
          }
        }
      }
    }
  }
}
